h2 {
    font-size: 2vw;
}

p  {
    font-size: 1vw;
}
#tout {
    font-size: 3vw;
}
#recherche {
	font-size: 1vw;
}
#btnrecherche {
	font-size: 1vw;
}
#jarditoucom {
    font-size: 1.5vw;
}
#button {
    margin-right: auto;
}
table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n) > th {
	background-color: #ffff99;
 }